<div class="jumbotron center">
	<h1>Things I like</h1>
	<h3>Hand selected from JCrew</h3>
	
		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
		
</div>
	
<div class="jumbotron center">

<div class="row">
  <div class="col-md-3">
		<%= image_tag("a4.jpeg", class: "img-responsive center-block", :alt => "rss feed") %>
	</div>

  <div class="col-md-3">
		<%= image_tag("a1.jpeg",class: "img-responsive center-block", :alt => "rss feed") %>
	</div>
	
	<div class="col-md-3">
		<%= image_tag("a2.jpeg",class: "img-responsive center-block", :alt => "rss feed") %>
	</div>
	
	<div class="col-md-3">
		<%= image_tag("a3.jpeg",class: "img-responsive center-block", :alt => "rss feed") %>
	</div>
	
</div>

<div class="row">
  <div class="col-md-3">
		<%= image_tag("a5.jpeg",class: "img-responsive center-block", :alt => "rss feed") %>
	</div>

  <div class="col-md-3">
		<%= image_tag("a6.jpeg",class: "img-responsive center-block", :alt => "rss feed") %>
	</div>
	
	<div class="col-md-3">
		<%= image_tag("a7.jpeg",class: "img-responsive center-block", :alt => "rss feed") %>
	</div>
	
	<div class="col-md-3">
		<%= image_tag("a8.jpeg",class: "img-responsive center-block", :alt => "rss feed") %>
	</div>
	
</div>

